th, th.alignCenter, td.alignCenter {
	text-align: center;
}

th.alignLeft, td.alignLeft {
	text-align: left;
}

td, th.alignRight, td.alignRight {
	text-align: right;
}

a.navbar-brand {
	padding: 2px 15px;
}

.navbar .navbar-nav>li>a {
	padding: 15px 10px 15px 10px;
}